.pinturas_carrosel{
padding: 100px 0px;
}
.pinturas_carrosel h1{
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    font-size: 2.2em;
    color: aliceblue;
    background: gray;
}
.carousel-inner{
    width: 70vw;
   
    left: 50%;
    transform: translate(-50%,0%);
    
}
.carousel-item img{
    height: 50vw;

}
.carousel-control-prev{
    right: 5%;
}
.carousel-control-next{
    left: 5%;
}

@media(width > 1660px){
    .carousel-inner{
        width: 70%;
    }
    .carousel-item img{
        height: 35vw;
    
    }
}