#section3 {

    padding-top: 150px;
    overflow: hidden; /* Adicionando overflow: hidden para evitar a rolagem lateral */
  }

  .carrosel_imgs {
    display: flex;
    flex-direction: row;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .carrosel_imgs img {
    height: 400px;
    margin-right: 10px; /* Espaço entre as imagens */
  }

  @keyframes carrosel1 {
    0% {
      transform: translateX(-50%); /* Começando fora da tela à esquerda */
    }
    100% {
      transform: translateX(0%); /* Terminando fora da tela à direita */
    }
  }

  @keyframes carrosel2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-30%);
    }
  }

  #carrosel1 {
    animation-name: carrosel1;
  }

  #carrosel2 {
    animation-name: carrosel2;
  }

  @media (max-width: 968px) {
    #section3 {
      padding-top: 100px;
    }
    .carrosel_imgs img {
      height: 240px;
    }
  }