#sobre_mim{
    margin-top: 150px;
    display: flex;
    gap: 50px;
    padding: 100px 0px;
    height: 600px;
    justify-content: center;
}
#sobre_mim img{
    clip-path: circle();
    margin: 0px 20px;
    max-width: 400px;
}

#texto_sobre{
    color: white;
    line-height: 1.5em;
    padding: 10px 20px;
    max-width: 400px;
    height: 600px;
}
#texto_sobre h1{
    font-size: 3.1em;
    margin-bottom: 20px;
}
#texto_sobre p{
    margin-bottom: 20px;
    font-size: 1.2em;
}
@media (max-width: 860px){
    #img{
        display: none;
    }
    #sobre_mim{
        background: url(../../imgs/edhon.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 0;
        
    }
    #texto_sobre{
        backdrop-filter: blur(5px);
        min-width: 100vw;
        
        padding: 50px 50px;
        background-image: linear-gradient(-40deg,transparent , rgb(29, 28, 28) 70%);
    }
    #texto_sobre h1{
        background-image: linear-gradient(to left, transparent, #46b5ffa8);
        width: 350px;
       
        margin: auto;
        margin-bottom: 20px;
        height: 20px;
        padding: 20px 10px;
        border-radius: 10px;
    }
    #texto_sobre p{
        font-size: 1.3em;
        max-width: 500px;
        margin: auto;
        margin-bottom: 20px;
        padding: 15px ;
        padding-right: 25px;
}
}