@font-face {
    font-family: 'Primary';
    src: url('../fontes/KGPrimaryPenmanship2.ttf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Comic';
    src: url('../fontes/Hey\ Comic.ttf') format('opentype');
    font-weight: normal;
}
#sobre_mim{
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    gap: 50px;
    padding: 100px 0px;
    height: 600px;
    justify-content: center;
}
#sobre_mim img{
    clip-path: circle();
    margin: 65% 10px;
    max-width: 400px;
    transform: translate(0%,-50%);

}

#texto_sobre{
    color: white;
    line-height: 1.5em;
    padding: 10px 0px;
    max-width: 400px;
    height: 600px;
}
#texto_sobre h1{
    font-size: 3em;
    margin-bottom: 10px;
    font-family: Primary;
}
#texto_sobre p{
    margin-bottom: 20px;
    font-family: Comic;
    font-size: 1.3em;
}
#texto_sobre #importante{
    font-size: 1.4em;
}
@media (max-width: 860px){
    #img{
        display: none;
    }
    #sobre_mim{
        background: url(../imgs/edhon_tatoo.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 0;
        
    }
    #texto_sobre{
        backdrop-filter: blur(5px);
        min-width: 100vw;
        
        padding: 50px 0px;
        background-image: linear-gradient(-40deg,transparent , rgb(29, 28, 28) 90%);
    }
    #texto_sobre h1{
        background-image: linear-gradient(to left, transparent, #b8bbbda8);
        width: 100%;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
        
        padding: 20px 0px;
   
    }
    #texto_sobre p{
        font-size: 1.3em;
        max-width: 500px;
        margin: auto;
        margin-bottom: 5px;
        padding: 10px 0px 0px 10px;
        padding-right: 15px;
}
}
@media(max-width: 514px){
    #texto_sobre{
        line-height: 1.2em;
    }
    #texto_sobre p{
        font-size: 1.1em;
        color: rgba(255, 255, 255, 0.877);
    }
}