#c1 {
    background: url(../img/fundo1.png);

}

#c2 {
    background: url(../img/fundo2.png);
}

#c3 {
    background: url(../img/fundo3.png);
}

#c4 {
    background: url(../img/arteciabg.png);
}

#c1,#c2,#c3,#c4 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.CardP1 {
    font-size: 2em;
    padding: 5px;
    background: white;
    border-radius: 10px;
}

.main2 a {
    color: #444242; 
    text-decoration: none;
}

.img {
    border: solid black 5px;
    border-radius: 100%
}
.main2 {
    z-index: 0;
    margin-top: 0px;
}
.main2 {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.87));
}
.Tatuagens {
    width: 330px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10px;
    margin: 0px 15px;
}
.Tatuagens .CardP1 {
    display: block;
}
.main2::-webkit-scrollbar{
    width: 10px;
    height: 15px;
}
.main2::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
}

.main2::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0);
}
@media(width < 1436px){
    .main2{
        justify-content: flex-start;
    }
}